.hero-battle {
  background-image: url('https://i.pinimg.com/originals/f9/67/f9/f967f9da607c37edde72dd0ac7c2f174.jpg');
  background-size: cover;
  background-position: center;

  h1, label {
    color: white;
  }
}